
/* ------------------------------------------ */
.c{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    /* border: 2px solid black; */
    width: 100%;
}

.img-c{
    width: 150px;
    height: 150px;
    overflow: hidden;
    /* border: 2px solid black; */
    border-Radius:100%;
    overflow:hidden;
    /* width: 200px;
    height: 200px; */
}
.p-img{
    width: 150px;
    border: none;
}
.profile-c{
    display:'flex';
    flex-Direction:'column';
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 600px;
    /* border: 2px solid black; */


    /* --------------------------- */

}
.first-p{
    width: 100%;
    /* margin: 10px; */
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    /* border: 2px solid black; */
    margin-bottom: 15px;
}

.second-p{
    width: 100%;
    /* margin: 10px; */
    /* border: 2px solid black; */
    /* justify-content: space-evenly; */
    /* font-size: 8px; */
    display: flex;
    margin-bottom: 15px;
}
.third-p{
    margin-bottom: 15px;
}

/* ------------------------ */

.user-name{
    margin-right: 20px ;
}
.edit-btn{
    /* background-color: ; */
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px ;
    border: none;
    width: 100px;
    height: 30px;
    font-weight: bold;
}

.settings-btn{
    cursor: pointer;
    margin-right: 20px ;
    background-color: transparent;
    border: none;
}
.edit-btn:hover{
    background-color: rgb(218, 218, 218);
}
.p-h1{
    display: flex;
    margin-right:20px ;
}

.p-bold{
    font-weight: bold;
    font-size: 14px;
}

.name{
    font-weight: bold;
    font-size: 14px;
}
.captions{
    font-size: 14px;
}